@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: iranYekan;
  src: url("/fonts/woff2/YekanBakhFaNum-Regular.woff2") format("woff2"),
    url("/fonts/iranYekan.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

.menu-icon {
  width: 24px;
  height: 24px;
  transition: fill 0.3s ease, transform 0.3s ease;
}

/* رنگ بنفش فقط برای آیکون‌های با کلاس svg-active */
.menu-icon.svg-active {
  filter: brightness(0) saturate(100%) invert(40%) sepia(36%) saturate(573%)
    hue-rotate(256deg) brightness(94%) contrast(93%);
}
